<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Document</title>
</head>
<body>
<b>Hello from Java</b>
<img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"/>
<img src="static/img/Colors-HP-Logo.jpg" alt="HP logo"/>
<img src="http://localhost:8080/static/img/Colors-HP-Logo.jpg" alt="HP logo"/>
</body>
</html>
